.nab-bar-container{
  display: flex;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: rgb(100, 122, 100);
  width: 100vw; 
  justify-content: space-between;
}
.Logo{
  width: 20px;
  height: 20px;
}
.Logo-holder{
  padding: 20px;
  padding-left: 40px;
}
.homepage-body{
  height: 100vh;
  background-color: rgb(114, 131, 114);
  display: flex;
}
.About-nav{
  padding-right: 20px;
  padding: 20px;
  font-size: 1.5rem;


}
.About-Link{
  text-decoration: none;
}
.About-nav p{
  color: black;
  font-weight: 900;
}
footer{
  height: 50px;
  border-top: 2px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
