:root{
  --primary-color:#00c6ae;
  --secondary-color:#fb663b;
  --secondary-color-2:#ffbd12;
  --blue-tint: #C9FCE3;
  --white: #ffffff;
  --black: #111212;
  --yellow-tint: #FFECA0;
}


/* Nav-Bar */
.nab-bar-container{
  display: flex;
  height: 50px;
  border-bottom: px solid black;
  background-color: var(--primary-color);
  width: 100vw; 
  justify-content: space-between;
}

.Logo{
  width: 20px;
  height: 20px;
}
.Logo-holder{
  padding: 20px;
  /* padding-left: 40px; */
}

nav a{
  text-decoration: none;
}
.Logo-holder span{
  text-decoration: none;
  color: var(--black);
  font-weight: 900;
  font-size: 20px;
}

/* Landing page */
/* .hero-img{
  justify-content: center;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  margin: 20px;
  border-radius: 40px;
  width: 50%;
  background-size: cover;
  background: url("../images/books.8dba9977.jpeg");
} */



.homepage-body{
  height: 100vh;
  background-color: var(--blue-tint);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.main-text{
  max-height: 80vh;
  width: 80%;
  border-bottom:  1px solid var(--black);
}
.main-text h1{
  margin-bottom: 60px;
  font-size: 60px;
}
.main-text button{
  border-radius: 2px;
  height: 40px;
  width: 15vw;
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 20px;
  border: none;
}

.main-text button:hover{
  border-left: 4px solid var(--yellow-tint);
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;

}

.About-nav{
  padding-right: 20px;
  padding: 20px;
  font-size: 1.5rem;


}
.About-Link{
  text-decoration: none;
}
.About-nav p{
  color: black;
  font-weight: 900;
}
footer{
  height: 50px;
  border-top: 2px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
.About-container{
  height: 100vh;
}
.Book-list{
  display: grid;
  width: 100%;
  height: 80vh;
  background-color: rgb(127, 145, 127);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

/* Small-screen */
